@page "/"

@inject AuthService AuthService
@inject NavigationManager Navigation
@layout SimpleLayout

<h3>Login</h3>

@if (loginFailed)
{
    <p style="color:red;">Invalid username or password</p>
}
<EditForm Model="@UserAuth" FormName="LoginForm" OnValidSubmit="Login">
    <InputText @bind-Value="UserAuth.UserName" />
    <InputText @bind-Value="UserAuth.Password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    private bool loginFailed;

    [SupplyParameterFromForm]
    public UserDataModel UserAuth { get; set; } = new();

    private async Task Login()
    {

        try
        {
            loginFailed = !await AuthService.LoginAsync(UserAuth);
        }
        catch (Exception ex)
        {
            loginFailed = true;
        }

        if (!loginFailed)
        {
            Navigation.NavigateTo("/home");
        }
    }
}
