@page "/"
@rendermode InteractiveWebAssembly
@using MultipleAreas_BlazorTemplate.Services.Alert
@inject AlertService alertService
@inject AuthService AuthService
@inject NavigationManager Navigation
@layout SimpleLayout

<h3>Login</h3>

@if (userData.LoginFail)
{
    <p style="color:red;">@userData.ErrorInLogin</p>
}
<EditForm Model="@UserAuth" FormName="LoginForm" OnValidSubmit="Login">
    <InputText @bind-Value="UserAuth.UserName" />
    <InputText @bind-Value="UserAuth.Password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public UserDataModel UserAuth { get; set; } = new();
    private UserDataModel userData = new();
    private async Task Login()
    {

        try
        {
            userData = await AuthService.LoginAsync(UserAuth);
        }
        catch (Exception ex)
        {
            userData.LoginFail = true;
            userData.ErrorInLogin = ex.Message;
        }

        if (!userData.LoginFail)
        {
            Navigation.NavigateTo("/home");
        }
        else
        {
            
        }
    }
}
